.story h3 {
  font-size: 26px !important;
  font-weight: bold!important;
  font-family: "Times New Roman", Times, serif !important;
}

.story p {
  font-size: 21px !important;
  line-height: 1.5 !important;
  font-family: "Times New Roman", Times, serif !important;
}

.ck-editor__editable {
    height: 400px;
}
